# Chọn nhà cung cấp AI: 'gemini' hoặc 'groq'
AI_PROVIDER=gemini

# Điền API Key của bạn vào đây (chỉ cần điền 1 trong 2 tùy vào AI_PROVIDER ở trên)
GEMINI_API_KEY=
GROQ_API_KEY=

PORT=5000
NODE_ENV=development

# CẤU HÌNH KẾT NỐI DATABASE MYSQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD="123456"
DB_NAME=grabfood_mini

# CẤU HÌNH BẢO MẬT TOKEN JWT (ACCESS & REFRESH TOKENS)
JWT_SECRET=my_jwt_secret_key
JWT_ACCESS_SECRET=access_secret_123456
JWT_REFRESH_SECRET=refresh_secret_123456
JWT_EXPIRES_IN=1h
CLIENT_URL=http://localhost:3000

MAIL_USER=
MAIL_PASS=

# CẤU HÌNH PAYOS (VIETQR PAYMENT GATEWAY)
# Lấy các khoá này tại https://my.payos.vn
PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key